.admin-right-container {
  padding: 20px 20px 0;
  .ant-menu-submenu-horizontal {
    float: right !important;
  }
  .admin-right-content {
    padding: 20px 0;
    // max-width: 640px;
    width: 100%;

    .ant-card {
      &:hover {
        border-color: #E4E5EB;
        box-shadow: 0 10px 20px rgba(0,0,0,.2);
      }
      .category-item {
        font-size: 14px;
      }
    }
    
  }
}